:root {
  --dark-background: hsl(207, 26%, 17%);
  --dark-elements-background: hsl(209, 23%, 22%);
  --light-background: hsl(0, 0%, 98%);
  --light-elements-background: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
*::placeholder {
  color: white;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--dark-background);
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
main {
  width: 90%;
  max-width: 140rem;
  justify-self: center;
}
main {
  margin-top: 4rem;
}
header {
  background-color: var(--dark-elements-background);
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
}
.header-content {
  width: 90%;
}
header svg {
  fill: white;
}
.header-content,
.country-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7rem;
}
.background-mode {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.background-mode .moon-icon {
  width: 2rem;
}
.country-search-container .input-container {
  position: relative;
  color: white;
  width: 50%;
  max-width: 40rem;
}
.country-search-container input {
  padding: 1.5rem 0 1.5rem 5rem;
  background-color: var(--dark-elements-background);
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
}

.country-search-container .search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 2rem;
}
.country-search-container select {
  padding: 1.5rem 4rem 1.5rem 1.5rem;
  border: none;
  background-color: var(--dark-elements-background);
  border-radius: 4px;
  outline: none;
  font-size: 1.4rem;
  font-weight: 500;
}
.country-search-container option {
  margin-top: 10rem;
  padding-top: 10rem;
  border: none;
  outline: none;
}
/* EACH COUNTRY */
.all-countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem;
  margin-top: 3rem;
}
.each-country {
  background-color: var(--dark-elements-background);
  max-width: 18rem;
  justify-self: center;
}

.each-country img {
  /* width: 100%; */
  width: 18rem;
  height: 12rem;
  object-fit: cover;
}
.each-country .country-data {
  padding: 1rem 1.2rem;
  margin-bottom: 1.5rem;
}
.each-country .country-data h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.each-country .country-data p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.data {
  font-size: 1.2rem;
  color: hsl(0, 0%, 52%);
  margin-left: 0.2rem;
}

/* DISPLAY COUNTRY DATA */
.back-arrow {
  background-color: var(--dark-elements-background);
  border: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.eachCountryDataContainer {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 1rem;
  margin-top: 2rem;
}
.eachCountryData {
  padding: 3rem 0;
}
.eachCountryDataContainer img {
  width: 100%;
  max-width: 50rem;
  height: 100%;
  max-height: 30rem;
  align-self: center;
  object-fit: contain;
}
.eachCountryData h2 {
  font-size: 1.9rem;
  font-weight: 800;
}
.allData {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  gap: 2rem 1.5rem;
  font-size: 1.3rem;
  margin-top: 2rem;
}
.border-countries-container {
  display: flex;
  align-items: center;
  align-self: end;
  margin-top: 5rem;
}
.border-countries {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.border-countries-container p {
  font-size: 1.3rem;
  flex-shrink: 0;
}
.border-countries button {
  border: none;
  background-color: var(--dark-elements-background);
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  font-size: 1.3rem;
  flex: 1 1 auto;
}

/* BACKGROUND-MODE */
.background-mode {
  cursor: pointer;
}
body.light *,
body.light *::placeholder {
  color: var(--light-mode-text);
}
body.light {
  background-color: var(--light-background);
}
body.light header {
  background-color: var(--light-elements-background);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
body.light .country-search-container input,
body.light .country-search-container select,
body.light .each-country,
body.light .back-arrow,
body.light .border-countries button {
  background-color: var(--light-elements-background);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
body.light .country-search-container input,
body.light .country-search-container select {
  color: var(--light-mode-text);
}
body.light .data {
  color: hsl(0, 0%, 52%);
}
